body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

button {
  margin: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

table th, table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}
